[Unit]
Description=YSFParrot Service
After=network-online.target netcheck.service

[Service]
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/YSFParrot --nolog 42012
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service
WantedBy=network-online.target
